---
import '../styles/global.css';

const query = `{
    posts {
        nodes {
            title
            content
        }
    }
}`;

const response = await fetch("https://sergiotbh-849c1b.ingress-haven.ewp.live/graphql", {
	method: "POST",
	headers: { "Content-Type": "application/json" },
	body: JSON.stringify({ query }),
});

const { data } = await response.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-3xl font-bold underline text-end">sergiotbh</h1>
		<!-- <section class="flex justify-center">
			<div class="bg-gray-700 w-5xl h-96 rounded-lg">
				{
					data.posts.nodes.map((post) => (
						<article>
							<h3>{post.title}</h3>
							<div set:html={post.content} />
						</article>
					))
				}
			</div>
		</section> -->
	</body>
</html>
